{% extends 'base.html.twig' %}

{% block body %}
    <main class="container" role="main">
        <section id="ytStats">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h1 class="text-center">You<span class="text-danger">Tube</span> Statistics</h1>
                    <form class="pt-3" method="post" action="">
                        <div class="input-group mb-3">
                            <input type="text" required class="form-control" name="statsUrl" placeholder="https://">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="submit" name="getStatsBtn">Get Stats</button>
                            </div>
                        </div>
                        {% for msg in data.statusMsg%}
                            {{ msg | raw }}
                        {% endfor %}
                    </form>
                    {% if data.youtube is not empty %}
                        <div class="content py-3" id="ytStats">
                            <div class="card">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/{{ data.youtube.id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="card-body" id="stats">
                                    <div class="row text-center">
                                        <div class="col-md-6 col-sm-12 alert-primary">
                                            <i class="fas fa-eye"></i> {{ data.youtube.statistics.viewCount | number_format }}
                                        </div>
                                        <div class="col-md-6 col-sm-12 alert-warning">
                                            <i class="fas fa-star"></i> {{ data.youtube.statistics.favoriteCount | number_format }}
                                        </div>
                                        <div class="col-md-6 col-sm-12 alert-success">
                                            <i class="fas fa-thumbs-up"></i> {{ data.youtube.statistics.likeCount | number_format }}
                                        </div>
                                        <div class="col-md-6 col-sm-12 alert-danger">
                                            <i class="fas fa-thumbs-down"></i> {{ data.youtube.statistics.dislikeCount | number_format }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">{{ data.youtube.snippet.title }}</h3>
                                    <p class="card-text">{{ data.youtube.snippet.description | markdown_to_html }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Published:
                                        <span class="font-weight-bold">{{ data.youtube.snippet.publishedAt | date('\\o\\n d-m-Y \\a\\t H:i:s') }}</span>
                                    </li>
                                </ul>

                                <div class="card-body">
                                    <span>Tags:</span>
                                    <p class="text-center">
                                        {% for tag in data.youtube.snippet.tags %}
                                            <a>#{{ tag }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

    <hr class="hr-green">
{% endblock %}